#nav-link{
    font-size: 35px !important;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    color: rgb(166, 166, 166);
    padding-bottom: 4px;
}
#nav-link:hover{
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}
.logoLink{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.navLogo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 400px) {

    #nav-link{
      font-size: 20px !important;
    }

    #navLogo{
        width: 30px;
        height: 30px;
    }

    .logoLink{
        font-size: 15px;
    }
    }

    @media (max-width: 300px) {

        #nav-link{
          font-size: 14px !important;
        }
    
        #navLogo{
            width: 20px;
            height: 20px;
        }
    
        .logoLink{
            font-size: 10px;
        }
        }