@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Sofia&display=swap');
:root{
  --test: 2px solid red;
  --family:"Sofia", sans-serif;
  --style:italic;
}

body{

  /* background-image: linear-gradient( 109.6deg, rgba(   110,123,251,1) 11.2%, rgba(156,252,248,1) 91.1% ); */
  /* background-image: linear-gradient( 109.6deg, rgba( 156,252,248,1) 11.2%, rgba( 110,123,251,1  )91.1% ); */
  /* background-image: linear-gradient(to right, #d3cce3, #e9e4f0); */
  /* background-image: url('./images/web images/puzzle-pieces-pattern/preview.jpg'); */

 

}
